In [1]:
import numpy as np
import matplotlib.pyplot as plt
import os
import cv2

In [3]:
Dir = "Images"
X_usual = []
y_usual = []
labels = ["Images_usual"]
def creating_usual_training_data():
    for category in labels:
        path = os.path.join(Dir, category)
        class_number = labels.index(category)
        for imvar in os.listdir(path):
            image = cv2.imread(os.path.join(path,imvar), cv2.IMREAD_GRAYSCALE)
            try:
                image = cv2.resize(image, (300, 300))
            except:
                pass
            image_array = np.array(image).flatten()
            X_usual.append(image_array)
            y_usual.append(class_number)

    
creating_usual_training_data()                                         

#type(X)

In [4]:
X_unusual = []
y_unusual = []
labels = ["Images_unusual"]
def creating_unusual_training_data():
    for category in labels:
        path = os.path.join(Dir, category)
        class_number = labels.index(category)
        for imvar in os.listdir(path):
            image = cv2.imread(os.path.join(path,imvar), cv2.IMREAD_GRAYSCALE)
            try:
                image = cv2.resize(image, (300, 300))
            except:
                pass
            image_array = np.array(image).flatten()
            X_unusual.append(image_array)
            y_unusual.append(class_number + 1)

    
creating_unusual_training_data()                                         

#type(X)

In [5]:
#X[:1899]
#X[0]
# y[:30]
# X[1800:]
print(len(X_usual))
print(len(X_unusual))
y_usual[:10]
# temp1 = X
# temp2 = y

# temp3 = []
# # temp3.append(temp1)
# # # temp3[:10]
# # temp3[1] = temp2
# # temp3[:10]
# for i in range (0,3403):
#     temp3.append([temp1[i], temp2[i]])
# temp3[:10]

# # import random
# # random.shuffle(temp3)

# # temp4 =temp3[0]
# # temp5 = temp3[1]
# # temp5[:10]

1413
478

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [6]:
import pandas as pd
df = pd.DataFrame()
for i in range(0, len(X_usual)-1):
    df[i] = X_usual[i]
c = df.transpose()
c
# c[90000] = y
# # 
# df

,0,1,2,3,4,5,6,7,8,9,...,89990,89991,89992,89993,89994,89995,89996,89997,89998,89999
0,195,12,27,18,16,16,17,20,25,31,...,8,8,8,8,9,9,10,10,10,9
1,193,18,26,18,16,16,17,19,24,29,...,8,9,8,9,9,10,10,10,10,9
2,194,17,25,18,16,16,17,22,24,29,...,9,9,9,9,9,10,10,11,10,9
3,194,14,29,20,16,16,17,21,24,29,...,8,8,8,8,9,10,13,21,31,41
4,205,14,26,20,16,16,17,22,25,29,...,8,8,8,8,9,10,10,10,9,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407,43,47,45,42,43,43,30,23,16,16,...,8,9,8,9,9,9,9,9,9,9
1408,46,45,42,39,40,38,29,22,17,17,...,9,9,9,9,9,9,9,9,9,10
1409,47,46,45,40,39,39,30,23,17,18,...,8,9,9,9,8,8,8,8,9,9
1410,45,46,44,40,39,38,29,21,18,21,...,9,8,8,9,9,9,8,8,9,9
1411,46,46,45,40,39,38,29,20,17,18,...,9,8,8,9,9,9,9,9,9,10

In [7]:
un_df = pd.DataFrame()
for i in range(0, len(X_unusual)-1):
    un_df[i] = X_unusual[i]
temp = un_df.transpose()
temp

,0,1,2,3,4,5,6,7,8,9,...,89990,89991,89992,89993,89994,89995,89996,89997,89998,89999
0,19,22,23,22,26,117,24,24,23,23,...,124,104,58,133,131,134,134,135,135,98
1,19,22,23,22,24,85,22,22,23,23,...,124,109,47,135,131,134,135,134,131,106
2,19,22,23,22,21,88,25,22,22,24,...,123,114,52,129,131,134,135,135,131,102
3,19,22,23,22,27,67,22,22,22,23,...,119,116,51,130,131,134,136,135,133,105
4,19,20,20,21,27,49,22,22,23,22,...,123,115,47,131,131,131,135,135,132,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,30,31,32,34,47,59,56,45,37,37,...,12,12,11,11,11,10,10,10,10,11
473,24,24,26,30,32,44,52,57,52,44,...,72,32,20,16,14,13,12,12,10,11
474,26,26,26,27,29,32,35,48,58,52,...,81,78,78,73,60,38,22,19,15,15
475,28,25,25,26,28,30,33,38,54,53,...,80,88,86,82,79,75,65,43,29,20
476,30,33,41,53,53,50,43,37,38,42,...,89,85,82,81,78,53,31,20,15,15

In [8]:

frames = [c, temp]
new_df = pd.concat(frames)

In [9]:
new_df

,0,1,2,3,4,5,6,7,8,9,...,89990,89991,89992,89993,89994,89995,89996,89997,89998,89999
0,195,12,27,18,16,16,17,20,25,31,...,8,8,8,8,9,9,10,10,10,9
1,193,18,26,18,16,16,17,19,24,29,...,8,9,8,9,9,10,10,10,10,9
2,194,17,25,18,16,16,17,22,24,29,...,9,9,9,9,9,10,10,11,10,9
3,194,14,29,20,16,16,17,21,24,29,...,8,8,8,8,9,10,13,21,31,41
4,205,14,26,20,16,16,17,22,25,29,...,8,8,8,8,9,10,10,10,9,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,30,31,32,34,47,59,56,45,37,37,...,12,12,11,11,11,10,10,10,10,11
473,24,24,26,30,32,44,52,57,52,44,...,72,32,20,16,14,13,12,12,10,11
474,26,26,26,27,29,32,35,48,58,52,...,81,78,78,73,60,38,22,19,15,15
475,28,25,25,26,28,30,33,38,54,53,...,80,88,86,82,79,75,65,43,29,20
476,30,33,41,53,53,50,43,37,38,42,...,89,85,82,81,78,53,31,20,15,15

In [10]:
var2 = pd.DataFrame()
var2[0] = y_usual[:len(X_usual)-1]
#c = df.transpose()
#c
var2

      0
0     0
1     0
2     0
3     0
4     0
...  ..
1407  0
1408  0
1409  0
1410  0
1411  0

[1412 rows x 1 columns]

In [11]:
var3 = pd.DataFrame()
var3[0] = y_unusual[:len(X_unusual)-1]
var3

     0
0    1
1    1
2    1
3    1
4    1
..  ..
472  1
473  1
474  1
475  1
476  1

[477 rows x 1 columns]

In [12]:

frames = [var2, var3]
new_y = pd.concat(frames)
new_y

     0
0    0
1    0
2    0
3    0
4    0
..  ..
472  1
473  1
474  1
475  1
476  1

[1889 rows x 1 columns]

In [13]:
new_df[90000] = new_y
new_df

,0,1,2,3,4,5,6,7,8,9,...,89991,89992,89993,89994,89995,89996,89997,89998,89999,90000
0,195,12,27,18,16,16,17,20,25,31,...,8,8,8,9,9,10,10,10,9,0
1,193,18,26,18,16,16,17,19,24,29,...,9,8,9,9,10,10,10,10,9,0
2,194,17,25,18,16,16,17,22,24,29,...,9,9,9,9,10,10,11,10,9,0
3,194,14,29,20,16,16,17,21,24,29,...,8,8,8,9,10,13,21,31,41,0
4,205,14,26,20,16,16,17,22,25,29,...,8,8,8,9,10,10,10,9,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,30,31,32,34,47,59,56,45,37,37,...,12,11,11,11,10,10,10,10,11,1
473,24,24,26,30,32,44,52,57,52,44,...,32,20,16,14,13,12,12,10,11,1
474,26,26,26,27,29,32,35,48,58,52,...,78,78,73,60,38,22,19,15,15,1
475,28,25,25,26,28,30,33,38,54,53,...,88,86,82,79,75,65,43,29,20,1
476,30,33,41,53,53,50,43,37,38,42,...,85,82,81,78,53,31,20,15,15,1

In [14]:
var5 = new_df
var5 = var5.sample(frac = 1 )
var5

,0,1,2,3,4,5,6,7,8,9,...,89991,89992,89993,89994,89995,89996,89997,89998,89999,90000
1066,46,60,47,38,27,29,34,41,55,65,...,11,12,11,11,11,11,10,11,10,0
164,19,20,21,21,23,23,24,35,20,18,...,11,11,11,11,11,11,11,11,11,1
274,9,9,10,10,10,10,10,10,10,11,...,9,9,10,10,11,10,9,9,8,0
73,14,14,15,14,15,15,15,15,17,17,...,11,11,9,10,9,10,10,9,12,0
793,24,18,17,16,16,16,15,14,14,15,...,10,9,9,8,8,8,8,8,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,18,17,17,18,18,18,18,20,22,24,...,11,11,11,11,12,12,12,12,12,0
90,12,13,14,15,16,15,11,110,71,213,...,10,9,9,9,8,10,10,10,10,0
251,39,154,40,55,188,132,134,134,121,122,...,75,79,80,83,77,48,40,75,94,1
87,12,12,12,13,12,13,12,63,60,210,...,9,9,9,9,9,9,10,9,10,0
864,24,24,25,29,52,31,26,28,37,47,...,10,9,9,10,10,9,10,11,12,0

In [15]:
final_y = var5[90000]
final_df = var5
del var5[90000]
final_df

,0,1,2,3,4,5,6,7,8,9,...,89990,89991,89992,89993,89994,89995,89996,89997,89998,89999
1066,46,60,47,38,27,29,34,41,55,65,...,10,11,12,11,11,11,11,10,11,10
164,19,20,21,21,23,23,24,35,20,18,...,11,11,11,11,11,11,11,11,11,11
274,9,9,10,10,10,10,10,10,10,11,...,9,9,9,10,10,11,10,9,9,8
73,14,14,15,14,15,15,15,15,17,17,...,15,11,11,9,10,9,10,10,9,12
793,24,18,17,16,16,16,15,14,14,15,...,10,10,9,9,8,8,8,8,8,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,18,17,17,18,18,18,18,20,22,24,...,10,11,11,11,11,12,12,12,12,12
90,12,13,14,15,16,15,11,110,71,213,...,10,10,9,9,9,8,10,10,10,10
251,39,154,40,55,188,132,134,134,121,122,...,54,75,79,80,83,77,48,40,75,94
87,12,12,12,13,12,13,12,63,60,210,...,10,9,9,9,9,9,9,10,9,10
864,24,24,25,29,52,31,26,28,37,47,...,11,10,9,9,10,10,9,10,11,12

In [25]:
print(final_df)
print(final_y)

#print(Training_data[:5])
# X = []
# y = []
# for features, label in Training_data:
#     X.append(features)
#     y.append(label)
# for item in X[:10]:
#     print(item)
# X = np.array(X)
# #new_array = np.reshape(X, (-1, 1))
# #print(X.shape)
# for item in X[:10]:
#     print(item)
# #print(new_array.shape)

      0      1      2      3      4      5      6      7      8      9      \
2277     27     32     35     32     24     24     30     43     45     48
1601     15     18     21     22     25     27     26     24     20     18
296     148    240    250    251    255    255    255    255    255    255
421      18     18     19     19     19     21     21     23     56     23
304      59     60     65     77    116    240    251    255    255    255
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
279      37    127    120    122    161    154    135     37     37     50
477      24     23     23     22     24     24     27    136    118    226
994      16     56     87    150    192     67     17     15     11     11
946      24     28     29     28     26     25     23     19     15     15
626     222    221    221    226    222    164    160    158    154    148

      ...  89990  89991  89992  89993  89994  89995  89996  89997  89998  \
2277  ...     42     43     43     45     44     44     44     43     41
1601  ...     63     62     60     60     60     63     60     64     64
296   ...     70     68     66     66     69     73     74     74     73
421   ...     11     11     10     10     10     10     10     10      9
304   ...     68     66     66     65     59     54     52     55     60
...   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
279   ...     47     45     45     43     43     45     48     50     52
477   ...     12     10     10     11     12     14     13     16     14
994   ...      8      8      9     11     11     11     10     10     10
946   ...     12     10     15     64    107    115     91     39     39
626   ...    145    145    144    141    134     80     51     68     87

      89999
2277     40
1601     60
296      72
421       9
304      65
...     ...
279      55
477      13
994      10
946      75
626      92

[3402 rows x 90000 columns]
2277    0
1601    0
296     0
421     1
304     0
       ..
279     1
477     0
994     0
946     0
626     1
Name: 90000, Length: 3402, dtype: int64

In [39]:
import pickle
#pickle_out = open("X.pickle", "wb")
#pickle.dump(X, pickle_out)
#pickle_out.close()

#pickle_out = open("y.pickle", "wb")
#pickle.dump(y, pickle_out)
#pickle_out.close()

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [17]:
X_train, X_test, y_train, y_test = train_test_split(final_df, final_y, test_size = 0.2)

In [18]:
classifier1 = SVC(C=1, gamma='auto', kernel='poly', degree = 3)
classifier1.fit(X_train, y_train)
prediction1 = classifier1.predict(X_test)
print(classifier1.score(X_train, y_train))
print(classifier1.score(X_test, y_test))

1.0
1.0

In [19]:
from sklearn.ensemble import RandomForestClassifier
classifier2 = RandomForestClassifier(n_estimators = 10, random_state = 0)
classifier2.fit(X_train, y_train)
prediction2 = classifier2.predict(X_test)
print(classifier2.score(X_train, y_train))
print(classifier2.score(X_test, y_test))

0.99933818663137
1.0

In [20]:
df

,0,1,2,3,4,5,6,7,8,9,...,1402,1403,1404,1405,1406,1407,1408,1409,1410,1411
0,195,193,194,194,205,195,194,189,186,14,...,29,31,33,37,41,43,46,47,45,46
1,12,18,17,14,14,15,16,8,8,12,...,36,38,39,44,46,47,45,46,46,46
2,27,26,25,29,26,26,27,26,28,25,...,40,41,44,47,45,45,42,45,44,45
3,18,18,18,20,20,20,19,20,21,39,...,45,45,44,44,43,42,39,40,40,40
4,16,16,16,16,16,16,16,16,16,38,...,44,43,43,42,40,43,40,39,39,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89995,9,10,10,10,10,9,11,10,10,91,...,8,9,8,8,9,9,9,8,9,9
89996,10,10,10,13,10,11,11,10,10,58,...,8,9,8,8,8,9,9,8,8,9
89997,10,10,11,21,10,11,11,10,10,41,...,8,9,8,8,8,9,9,8,8,9
89998,10,10,10,31,9,10,11,10,10,38,...,8,10,8,9,8,9,9,9,9,9
89999,9,9,9,41,8,10,11,10,8,41,...,8,10,9,9,8,9,10,9,9,10

In [31]:
def prediction(var6):
    #input_image_array
    df = pd.DataFrame()
    df[0],df[1] = var6, var6
    db = df.transpose()
    #print(db)
    var8 = classifier1.predict(db)
    var9 = classifier2.predict(db)
    #print(var8)
    #print(var9)
    
    var10 = var8[0] + var8[1] + var9[0] + var9[1]
    #print(var10)
    #print(var8)
    #print(var9)
    if (var10 > 0):
        print("\n\n\nUnwanted Activity Detected!!!")
        #print(alert)
    else:
        pass

In [32]:
Name = input("Enter the name of the image to classify  :   ")
print(Name)


input_image = cv2.imread(Name, cv2.IMREAD_GRAYSCALE)
#plt.imshow('input_image.jpg', input_image)
#plt.show()
input_image = np.resize(input_image, (300, 300))
input_image_array = np.array(input_image).flatten()


print(input_image_array)
# #type(input_image_array)
# input_image_array.reshape(1, -1)

prediction(input_image_array)
#print("check3")
# if (alert == 1):
#     print("\n\nUNWANTED ACTIVITY DETECTED!!!")
#     #print("check4")
# else:
#     print("\n")


# # print("Prediction is :  ")

Enter the name of the image to classify  :   unusual 2.jpg
unusual 2.jpg
[235 233 228 ...  21  22  22]



Unwanted Activity Detected!!!